.tablazat{
    border-width: 3px;
border-color: gray;
border-style: solid;
width: 500px;
margin: auto;
}
p{
    width: 500px;
    height: 2px;
    background: gray;

}

.first:hover{
    color: blue;
    background: orange;
}
.second:hover{
    color: rgb(204, 16, 157);
    background: green;
}
.third:hover{
    color: #ff0000;
    background:gray;
}
.fourth:hover{
    color: #ff0000;
    background:blue;
}
.fifth:hover{
    color: #ff0000;
    background:purple;
}
